{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}VAT Return tool: privacy policy{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2>Privacy policy</h2>

<p>This software was created by <a href="mailto:seb.bacon@gmail.com">Seb Bacon</a> for his own use.  Under GDPR Seb is the "data controller" for any informaton that you provide.</p>

<p>No personal data (i.e. recorded information that is about you and from which you can be identified) is stored in the system at any time. This website takes data you publish yourself on the web (e.g. via Google Sheets) and submits this to the HMRC as a valid VAT return for the period you specify. You are authenticated with HRMC's own authentication system, and none of your details are stored on our the server.</p>

<p>No user tracking or analytics takes place, and no user-related information is ever logged or otherwise stored.</p>

<p>To verify this, you can check the source code of the software <a href="https://github.com/sebbacon/vatreturn">on Github</a>, where you will also find instructions on how to deploy your own copy.</p>

<p>The privacy of the data you publish as a CSV is <strong>your responsibility</strong>. The software currently requires the summary data (total sales and total VAT) to be available online in a CSV format. If you are uncomfortable with this, you should not use it.</p>

<p>However, note that:
  <ul>
    <li>it's effectively impossible for third parties to guess a Google Sheets link</li>
    <li>you can unpublish the sheet as soon as your return has been made</li>
    <li>the CSV only needs to include your net sales income and VAT payable, which you may or may not consider to be sensitive information, but in any case should not be linkable to you unless you put your name or other identifying data in it</li>
  </ul>
</p>


{% endblock %}
